<section class="alt-section section-work">
  <h3 id="works">Works</h3>

  <div class="work-belt" [ngStyle]="{'left': size+'%' }">

    <div class="thumb-wrap">
      <div class="thumb-container">

        <div *ngFor="let work of works" class="thumb-unit" data-folder="proj-1"   [ngStyle]="{'background-image': 'url(' + work.bg + ')' }" (click)="workBelt(work)">
          <div class="thumb-overlay"> <strong>{{work.name}}</strong>
            <div class="zoom-icon"></div>
          </div>
        </div>

      </div>
    </div>


      <div class="work-wrap">
        <div class="work-container" [ngStyle]="{'display': show }">
          <div class="work-return" (click)="returnWorkBelt()"><img src="assets/_includes/icons/icon-back.svg"></div>
          <h4 class="project-title">{{singleWork.name}}</h4>
          <p>{{singleWork.content}}</p>
          <img *ngFor="let image of singleWork.images" src="{{image}}">

        </div>
      </div>

  </div>

  </section>
